<div id="page_authentication">
    <!-- Body Wrapper Start -->
    <div class="body_wrapper">
        <div class="page_title">
            <div class="row align-items-center mx-0">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0">
                    <div class="d-flex">
                        <h1>{{'authentication' | translate}}</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card p-4 border-0 rounded-0 animate__animated animate__zoomIn wow" data-wow-duration="1s">
                    <form>
                        <div class="form-group  animate__animated animate__fadeInUp wow">
                            <label>{{'kitchen_app' | translate}}</label>
                            <input type="text" class="form-control" placeholder="" value="+91 987 654 3210">
                        </div>
                        <div class="form-group  animate__animated animate__fadeInUp wow">
                            <input type="text" class="form-control" placeholder="" value="+91 987 654 3210">
                        </div>
                        <div id="add_more_Kitchen_contact"></div>
                        <button class=" animate__animated animate__fadeInUp wow btn btn-outline-primary col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5" type="button" id="Kitchen_contact">
                            <span>+ {{'add_more' | translate}}</span>
                        </button>
                    </form>
                </div>

                <div class="card p-4 border-0 rounded-0 animate__animated animate__zoomIn wow" data-wow-duration="1s">
                    <form>
                        <div class="form-group  animate__animated animate__fadeInUp wow">
                            <label style="text-transform: initial;">{{'emenu_app' | translate}}</label>
                            <input type="text" class="form-control" placeholder="" value="+91 987 654 3210">
                        </div>
                        <div class="form-group  animate__animated animate__fadeInUp wow">
                            <input type="text" class="form-control" placeholder="" value="+91 987 654 3210">
                        </div>
                        <div class="form-group  animate__animated animate__fadeInUp wow">
                            <input type="text" class="form-control" placeholder="" value="+91 987 654 3210">
                        </div>
                        <div id="add_more_emnu_contact"></div>
                        <button class=" animate__animated animate__fadeInUp wow btn btn-outline-primary col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5" type="button" id="emnu_contact">
                            <span>+ {{'add_more' | translate}}</span>
                        </button>
                    </form>
                </div>

                <div class="card p-4 border-0 rounded-0 animate__animated animate__zoomIn wow" data-wow-duration="1s">
                    <form>
                        <div class="form-group  animate__animated animate__fadeInUp wow">
                            <label>{{'desk_app' | translate}}</label>
                            <input type="text" class="form-control" placeholder="" value="+91 987 654 3210">
                        </div>
                        <div class="form-group  animate__animated animate__fadeInUp wow">
                            <input type="text" class="form-control" placeholder="" value="+91 987 654 3210">
                        </div>
                        <div class="form-group  animate__animated animate__fadeInUp wow">
                            <input type="text" class="form-control" placeholder="" value="+91 987 654 3210">
                        </div>
                        <div id="add_more_desk_app"></div>
                        <button class="animate__animated animate__fadeInUp wow btn btn-outline-primary col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5" type="button" id="desk_app">
                            <span>+ {{'add_more' | translate}}</span>
                        </button>
                    </form>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card p-4 border-0 rounded-0 animate__animated animate__zoomIn wow" data-wow-duration="1s">
                    <form>
                        <div class="form-group  animate__animated animate__fadeInUp wow">
                            <label>{{'kiosk_app' | translate}}</label>
                            <input type="text" class="form-control" placeholder="" value="+91 987 654 3210">
                        </div>
                        <div class="form-group  animate__animated animate__fadeInUp wow">
                            <input type="text" class="form-control" placeholder="" value="+91 987 654 3210">
                        </div>
                        <div class="form-group  animate__animated animate__fadeInUp wow">
                            <input type="text" class="form-control" placeholder="" value="+91 987 654 3210">
                        </div>
                        <div id="add_more_kiosk_app"></div>
                        <button class=" animate__animated animate__fadeInUp wow btn btn-outline-primary col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5" type="button" id="kiosk_app">
                            <span>+ {{'add_more' | translate}}</span>
                        </button>
                    </form>
                </div>

                <div class="card p-4 border-0 rounded-0 animate__animated animate__zoomIn wow" data-wow-duration="1s">
                    <form>
                        <div class="form-group  animate__animated animate__fadeInUp wow">
                            <label>{{'review_app' | translate}}</label>
                            <input type="text" class="form-control" placeholder="" value="+91 987 654 3210">
                        </div>
                        <div class="form-group  animate__animated animate__fadeInUp wow">
                            <input type="text" class="form-control" placeholder="" value="+91 987 654 3210">
                        </div>
                        <div id="add_more_review_app"></div>
                        <button class=" animate__animated animate__fadeInUp wow btn btn-outline-primary col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5" type="button" id="review_app">
                            <span>+ {{'add_more' | translate}}</span>
                        </button>
                    </form>
                </div>

                <button type="submit" class="btn rounded-pill py-3 col-12 col-sm-10 col-md-6 col-lg-6 col-xl-4 ml-auto d-block animate__animated animate__zoomIn wow" data-wow-duration="1s">Save</button>

            </div>
        </div>
    </div>
</div>