
<div>
    <div class="row align-items-start justify-content-center mx-0" style="height:100vh">
        <div class="card col-12 col-lg-12 col-xl-10 bg-white px-0" style="border:none;">
            <div class="card-body chatCard row align-items-center justify-content-center mx-0">
                <div class="col text-start align-self-start">
                    <div class="home">
                        <i class="zmdi zmdi-home zmdi-hc-3x" (click)="aiHome()"></i>
                    </div>
                </div>
                <div class="col-5 col-lg-6  text-center">
                    <img class="avatar-logo" src="https://picsum.photos/id/237/500/500">
                    <div class="chat-about">
                        <div class="ai-name">AI Waiter</div>
                    </div>
                </div>
                <div class="col">
                    <div *ngIf="userInfo" class="col-8 text-start ml-auto mr-auto px-0 ">
                        <div class="card">
                            <img class="avatar-cust" src="https://picsum.photos/id/659/160/160">
                            <div class="cust-info px-2 pb-2">
                                <div>{{userInfo.gender}}</div>
                                <div>{{userInfo.age}}歲</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body chatContent ">
                <div class="chat overflow-auto" [ngStyle]="{'height':ad?'70%':'100%'}">
                    <ul *ngIf="messages" >
                        <li *ngFor="let s of messages; let key = index"  >
                            <div *ngIf="s.from =='ai' " class="text-left">
                                <img *ngIf="!(s.from === prev_from[key-1])" class="avatar" src="https://picsum.photos/id/237/200/300">
                                <div style="display: inline-block;max-width: 100%;" [style]="s.from === prev_from[key-1] ? 'margin-left:100px':''">
                                    <div class="text-black message">
                                        <div *ngIf="s.meal">
                                            <img [src]="'../../assets/images/food/'+s.food_img+'.png'" alt="">
                                        </div>  
                                        <div class="pb-2">{{s.msg}}</div>
                                        <div *ngIf="s.meal" style="border-top:1px solid black;font-size: 26px;" class="py-2">目前試算金額:${{s.sub_total}}</div>
                                    </div>
                                    <br>
                                    <!-- <div class="text-black message mt-4">
                                        <div *ngIf="s.meal">
                                            <img [src]="'../../assets/images/food/'+s.food_img+'.png'" alt="">
                                        </div>  
                                        <div class="pb-2">{{s.msg}}</div>
                                        <div *ngIf="s.meal" style="border-top:1px solid black;font-size: 26px;" class="py-2">目前試算金額:${{s.sub_total}}</div>
                                    </div> -->
                                    <span class="msg-datetime">17:02</span>
                                </div>
                            </div>
                            <div *ngIf="s.from =='user' " class="text-right">
                                <div style="display: inline-block;" [style]="s.from === prev_from[key-1] ? 'margin-right:100px':''">
                                    <span class="msg-datetime">17:02</span>
                                    <div class="text-black message">{{s.msg}}</div>
                                </div>
                                <img *ngIf="!(s.from === prev_from[key-1])" class="avatar" src="https://picsum.photos/id/659/100/100">
                            </div>
                        </li>
                    </ul>
                </div>
                
                <div *ngIf="ad" class="row align-items-center mx-0" style="height:30%;
                background-color: rgba(0, 0, 0, 0.8);">
                    <div *ngFor="let ad of ads_food" class="ad-food" class="col-4">
                        <img [src]="'../../assets/images/food/'+ad.food_img+'.png'" width="100%" alt="" style="position:relative ; ">
                        <div>
                            <div class="text">{{ad.meal}}</div>
                            <div class="price">${{ad.price}}</div>
                        </div>
                    </div>
                    <!-- <div class="col-4">
                        <img src="../../assets/images/2.png" width="100%" alt="">
                    </div>
                    <div class="col-4">
                        <img src="../../assets/images/4.png" width="100%" alt="">
                    </div> -->
                </div>
            </div>
            
            <button type="button" class="btn place_order" (click)="home()">
                <i class="zmdi zmdi-money-box zmdi-hc-3x"></i>
            </button>
            <button type="button" class="btn Cancel" (click)="order()" style="font-size: 30px;">Cancel</button>
            <button type="button" class="btn menu" data-toggle="modal" data-target="#exampleModal" (click)="menu()">
                <i class="zmdi zmdi-book-image zmdi-hc-3x"></i>
            </button>
        </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-body p-0" style="position: relative;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <img src="../../assets/images/menu.jpg" class="w-100" alt="">
            </div>
            </div>
        </div>
    </div>
</div>
