/* WEB */
.row{
    padding-right: 0px;
    padding-left:0px;
}

.chatCard{
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); */
    height:90px; 
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.chatMenu{
    /* height: 50px; */
}

.chatContent{
    padding: 30px 0px 0px;
    height: 400px;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}
.chatContent .chat{
    padding: 0 20px;
}
.chatContent li{
    list-style-type: none;
    margin-bottom: 50px;
}
.chatContent ul{
    padding: 0;
}
.chatContent .message img{
    width: 280px;
    height: 280px;
    padding: 10px;
}
.chatContent .ad-food img{
    position:relative ; 
}
.chatContent .text{
    width:70%;
    height:40px;
    background-color:white;
    position:absolute;
    top:0;
    left:15%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    border-radius: 0px 0px 15px 15px;
    border:0.5px solid gray;
}
.chatContent .price{
    color:#fff;
    width:30%;
    height:50px;
    background-color:var(--red_color);
    position:absolute;
    bottom:0;
    right:15px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
}

.avatar-logo{
    width:50px;
    height: 50px;
    border-radius: 50%;
}
.avatar{
    border-radius: 50%;
    vertical-align: top;
    width: 100px;
    height: 100px;
}
.ai-name{
    padding:50px 0;
    letter-spacing: 1.5px;
    font-size: 48px;
}
.cust-info div{
    font-size: 30px;
    margin-top: 30px;
}
.msg-datetime{
    font-size: 12px;
}

.btn {
    width: 20%;
    position:fixed;
    bottom: 0px;
    height:100px;
    border-radius: 5px;
}
.btn.place_order{
    right: 0;
}
.btn.Cancel{
    right: 20%;
    background: var(--red_color);
}
.btn.Menu{
    left: 0;
}
.close{
    position: absolute; 
    right:-30px;
    top:-60px; 
    color:rgb(255, 255, 255);  
    font-size: 4rem;
}
.home i{
    color:#fbaf03;
    cursor:pointer;
}
.home i:hover{
    color:orange;
}


/* APP */
@media screen and (max-width: 575.98px){
    .row.card{
        border-top: transparent;
        border-bottom: transparent;
    }
    .chatCard{
        height: 35vh;
        align-items: start !important;
    }
    .chatContent{
        height: 72vh;
    }
    .chatMenu{
        height: 10vh;
    }
    .avatar{
        width: 40px;
        height: 40px;
    }
    .avatar-logo{
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
    }
    .ai-name{
        padding:10px 0;
        letter-spacing: 1.5px;
        font-size: 30px;
    }
    .cust-info div{
        font-size: 15px;
        margin-top: 10px;
    }
    .msg-datetime{
        font-size: 12px;
    }
    .chatContent .message{
        max-width: 200px;
        border-radius: 20px;
        padding:10px 20px;
        margin:0 10px;
        display: inline-block;
        background-color: #efefef;
        font-size: 14px;
    }
    .chatContent .text{
        width:60%;
        left: 20%;
        height:20px;
        line-height: 20px;
        font-size: 14px;
        border-radius: 0px 0px 5px 5px;
    }
    .chatContent .price{
        height:30px;
        line-height: 30px;
        font-size: 14px;
    }
}
/* KIOSK */
@media screen and (max-width: 1080px){
    .row.card{
        border-top: transparent;
        border-bottom: transparent;
    }
    .chatCard{
        height: 40vh;
    }
    .chatContent{
        height: 60vh;
    }
    .chatMenu{
        /* height: 10vh; */
    }
    .avatar-logo{
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
    }
    .avatar-cust{
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
    }
    .msg-datetime{
        font-size: 20px;
    }
    .chatContent .message{
        max-width: 550px;
        border-radius: 20px;
        padding:10px 20px;
        margin:0 20px;
        display: inline-block;
        background-color: #efefef;
        font-size: 36px;
    }
    .home i{
        font-size: 75px;
        margin-left: 20px;
    }
}

