<div id="page_dashboard">
 
    <!-- Body Wrapper Start -->
    <div class="body_wrapper pt-0">
        <div class="container-fluid  align-items-start p-0">
            <div class="page_title">
                <div class="row align-items-center mx-0">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 p-0">
                        <div class="title_inner d-flex">
                            <h1 class="d-flex align-items-center">{{'dashboard' | translate}}
                                <!--                            <span class="ml-4">$987.50</span>-->
                            </h1>
                            <!--                            <button type="button" class="btn"><a href="upload_item.html">Add New</a></button>-->
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 p-0 d-flex">
                        <form class="search_box col-12 col-sm-12 col-md-12 col-lg-8 col-xl-7 p-0 px-lg-3 mt-0 mt-lg-0 pb-3 pb-md-0 ml-auto">
                            <div class="form-group mt-3 mb-0">
                                <div class="select_box  d-flex">
                                    <select>
                                        <option>This Week</option>
                                        <option>This Month</option>
                                        <option>Last 3 Months</option>
                                        <option>Last 6 Months</option>
                                        <option>Last 12 Months</option>
                                    </select>
                                    <i class="zmdi zmdi-caret-down"></i>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="right-dasboard text-white">
                <div class="chart-area p-3 p-xl-4 animate__animated animate__zoomIn wow" data-wow-duration="1s">
                    <div class="row no-gutters align-items-center ">
                        <div class="col-12 col-sm-12 col-md-8 col-lg-12 col-xl-12">
                            <div class="menus pb-2">
                                <ul class="d-flex list-unstyled text-muted m-0">
                                    <li>{{'earnings' | translate}}</li>
                                    <li class="active">{{'sales' | translate}}</li>
                                    <li>{{'orders' | translate}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="graph_container d-flex">
                        <div class="text_container">
                            <p class="ion-text-end"><span>125</span></p>
                            <p class="ion-text-end"><span>100</span></p>
                            <p class="ion-text-end"><span>75</span></p>
                            <p class="ion-text-end"><span>50</span></p>
                            <p class="ion-text-end"><span>25</span></p>
                            <p class="ion-text-end"><span>0</span></p>
                        </div>
                        <div class="graph end">
                            <div class="bar_box">
                                <h4>12 Jan</h4>

                                <div class="bar" style="height:30%;">
                                    <div class="icon_box">
                                        <i class="zmdi zmdi-circle"></i>
                                    </div>
                                    <h5>124 item</h5>
                                </div>
                            </div>
                            <div class="bar_box">
                                <h4>13 Jan</h4>

                                <div class="bar" style="height:45%;">
                                    <div class="icon_box">
                                        <i class="zmdi zmdi-circle"></i>
                                    </div>
                                    <h5>124 item</h5>
                                </div>
                            </div>
                            <div class="bar_box">
                                <h4>14 Jan</h4>

                                <div class="bar" style="height:35%;">
                                    <div class="icon_box">
                                        <i class="zmdi zmdi-circle"></i>
                                    </div>
                                    <h5>124 item</h5>
                                </div>
                            </div>
                            <div class="bar_box">
                                <h4>15 Jan</h4>

                                <div class="bar" style="height:60%;">
                                    <div class="icon_box">
                                        <i class="zmdi zmdi-circle"></i>
                                    </div>
                                    <h5>124 item</h5>
                                </div>
                            </div>
                            <div class="bar_box">
                                <h4>16 Jan</h4>

                                <div class="bar" style="height:55%;">
                                    <div class="icon_box">
                                        <i class="zmdi zmdi-circle"></i>
                                    </div>
                                    <h5>124 item</h5>
                                </div>
                            </div>
                            <div class="bar_box">
                                <h4>17 Jan</h4>

                                <div class="bar" style="height:40%;">
                                    <div class="icon_box">
                                        <i class="zmdi zmdi-circle"></i>
                                    </div>
                                    <h5>124 item</h5>
                                </div>
                            </div>
                            <div class="bar_box active">
                                <h4>18 Jan</h4>
                                <div class="bar" style="height:75%;">
                                    <div class="icon_box">
                                        <i class="zmdi zmdi-circle"></i>
                                    </div>
                                    <h5>124 item</h5>
                                </div>
                            </div>
                            <div class="bar_box">
                                <h4>19 Jan</h4>

                                <div class="bar" style="height:30%;">
                                    <div class="icon_box">
                                        <i class="zmdi zmdi-circle"></i>
                                    </div>
                                    <h5>124 item</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="total_box">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-7">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-6 ">
                                    <div class="chart-area py-5 py-sm-5 py-md-5 py-lg-5 px-5 d-flex align-items-center animate__animated animate__zoomIn wow" data-wow-duration="1s">
                                        <img src="assets/images/ic_energy.png" class="img-fluid">
                                        <div class="text_box">
                                            <h3>{{'total_orders' | translate}}</h3>
                                            <h2>128</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6">
                                    <div class="chart-area py-5 py-sm-5 py-md-5  py-lg-5 px-lg-3 px-xl-5 px-5  d-flex align-items-center animate__animated animate__zoomIn wow" data-wow-duration="1s">
                                        <img src="assets/images/ic_Serving.png" class="img-fluid">
                                        <div class="text_box">
                                            <h3>{{'revenue' | translate}}</h3>
                                            <h2>$1.8k</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6">
                                    <div class="chart-area py-5 py-sm-5 py-md-5 py-lg-5 px-5  d-flex align-items-center animate__animated animate__zoomIn wow" data-wow-duration="1s">
                                        <img src="assets/images/ic_fastfood.png" class="img-fluid">
                                        <div class="text_box">
                                            <h3>{{'items_sold' | translate}}</h3>
                                            <h2>678</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6">
                                    <div class="chart-area py-5 py-sm-5 py-md-5 py-lg-5 px-5  d-flex align-items-center animate__animated animate__zoomIn wow" data-wow-duration="1s">
                                        <img src="assets/images/ic_energy.png" class="img-fluid">
                                        <div class="text_box">
                                            <h3>Total Orders</h3>
                                            <h2>128</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-12 col-lg-5" style="padding: 0 20px">
                            <div class="row chart-area doughnut_chart p-3 p-sm-3 p-md-5 px-lg-3 px-xl-4 animate__animated animate__zoomIn wow" data-wow-duration="1s">

                               <div class="col-12 col-sm-12 col-md-6 col-lg-6 pt-2 py-0">
                                    <canvas  id="doughnut-chart" width="326" height="326"></canvas>
                                </div>

                                <div class="row pb-0  py-0 col-12 col-sm-12 col-md-6 col-lg-6 pl-md-5  pl-lg-3 pl-xl-5">
                                    <div class="col-12 animate__animated animate__fadeInUp wow">
                                        <h2 class="d-flex m-0 py-2">
                                            <i class="zmdi zmdi-circle mr-2" style="color: #EB1E1E"></i>
                                            Fast Food (26%)
                                        </h2>
                                    </div>

                                    <div class="col-12 animate__animated animate__fadeInUp wow">
                                        <h2 class="d-flex m-0 py-2">
                                            <i class="zmdi zmdi-circle mr-2" style="color: #009946"></i>
                                            Italian (10%)
                                        </h2>
                                    </div>

                                    <div class="col-12 animate__animated animate__fadeInUp wow">
                                        <h2 class="d-flex m-0 py-2">
                                            <i class="zmdi zmdi-circle mr-2" style="color:#F09514"></i>
                                            Main Course (26%)
                                        </h2>
                                    </div>

                                    <div class="col-12 animate__animated animate__fadeInUp wow">
                                        <h2 class="d-flex m-0 py-2">
                                            <i class="zmdi zmdi-circle mr-2" style="color:#8E37E7"></i>
                                            Starter (9%)
                                        </h2>
                                    </div>

                                    <div class="col-12 animate__animated animate__fadeInUp wow">
                                        <h2 class="d-flex m-0 py-2">
                                            <i class="zmdi zmdi-circle mr-2" style="color:#F02899"></i>
                                            Beverages (12%)
                                        </h2>
                                    </div>

                                    <div class="col-12 animate__animated animate__fadeInUp wow">
                                        <h2 class="d-flex m-0 py-2">
                                            <i class="zmdi zmdi-circle mr-2" style="color:#898989"></i>
                                            Indian (16%)
                                        </h2>
                                    </div>

                                    <div class="col-12 animate__animated animate__fadeInUp wow">
                                        <h2 class="d-flex m-0 py-2">
                                            <i class="zmdi zmdi-circle mr-2" style="color:#33C5FF"></i>
                                            Dessert (32%)
                                        </h2>
                                    </div>

                                    <div class="col-12 animate__animated animate__fadeInUp wow">
                                        <h2 class="d-flex m-0 py-2">
                                            <i class="zmdi zmdi-circle mr-2" style="color:#3337F0"></i>
                                            Other (6%)
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="total_box">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-5">
                            <div class="chart-area top-selling-items p-4 p-xl-5 animate__animated animate__zoomIn wow" data-wow-duration="1s">
                                <h4>{{'top_selling_items' | translate}}</h4>
                                <div class="media w-100 d-flex align-items-start mb-3 animate__animated animate__fadeInUp wow">
                                    <div class="img_box center_img">
                                        <img src="assets/images/1.png" class="crop_img" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="pb-1">Cream Pancake</h5>
                                        <h6>124 times</h6>
                                    </div>
                                </div>
                                <div class="media w-100 d-flex align-items-start mb-3 animate__animated animate__fadeInUp wow">
                                    <div class="img_box center_img">
                                        <img src="assets/images/2.png" class="crop_img" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="pb-1">Shrips Rice</h5>
                                        <h6>116 times</h6>
                                    </div>
                                </div>
                                <div class="media w-100 d-flex align-items-start mb-3 animate__animated animate__fadeInUp wow">
                                    <div class="img_box center_img">
                                        <img src="assets/images/3.png" class="crop_img" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="pb-1">Cheese Bresd</h5>
                                        <h6>108 times</h6>
                                    </div>
                                </div>
                                <div class="media w-100 d-flex align-items-start mb-3 animate__animated animate__fadeInUp wow">
                                    <div class="img_box center_img">
                                        <img src="assets/images/4.png" class="crop_img" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="pb-1">Veg Chese Sandwich</h5>
                                        <h6>99 times</h6>
                                    </div>
                                </div>
                                <div class="media w-100 d-flex align-items-start mb-3 animate__animated animate__fadeInUp wow">
                                    <div class="img_box center_img">
                                        <img src="assets/images/5.png" class="crop_img" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="pb-1">Margherita Pizza</h5>
                                        <h6>78 times</h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-12 col-lg-7">
                            <div class="chart-area top-selling-items p-4 p-xl-5 pb-5  animate__animated animate__zoomIn wow" data-wow-duration="1s">
                                <h4>{{'orders_from' | translate}}</h4>
                                <div class="progress-bar-box d-block d-md-flex align-items-center mb-5 animate__animated animate__fadeInUp wow" data-wow-duration="1s">
                                    <div class="img_box pb-3">
                                        <img src="assets/images/ic_dine_in.png">
                                    </div>
                                    <div class="bar-box d-flex w-100 align-items-center">
                                        <span class="h6 m-0">{{'dine_in' | translate}}</span>
                                        <div class="progress" style="height: 20px;width: 100%">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 92%" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span style="min-width: 100px;" class="text-right">602 <span>(92%)</span></span>
                                    </div>
                                </div>

                                <div class="progress-bar-box d-block d-md-flex align-items-center mb-5 animate__animated animate__fadeInUp wow" data-wow-duration="1.5s">
                                    <div class="img_box pb-3">
                                        <img src="assets/images/ic_takeaway.png">
                                    </div>
                                    <div class="bar-box d-flex w-100 align-items-center">
                                        <span class="h6 m-0">{{'takeaway' | translate}}</span>
                                        <div class="progress" style="height: 20px;width: 100%">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 8%" aria-valuenow="8" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span style="min-width: 100px;" class="text-right">52 <span>(8%)</span></span>
                                    </div>
                                </div>

                                <div class="progress-bar-box d-block d-md-flex align-items-center mb-5 animate__animated animate__fadeInUp wow" data-wow-duration="2s">
                                    <div class="img_box pb-3">
                                        <img src="assets/images/ic_delivery.png">
                                    </div>
                                    <div class="bar-box d-flex w-100 align-items-center">
                                        <span class="h6 m-0">{{'online' | translate}}</span>
                                        <div class="progress" style="height: 20px;width: 100%">
                                            <div class="progress-bar" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span style="min-width: 100px;" class="text-right">3.1k <span>(5%)</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>