<div id="page_home">
    <!-- Body Wrapper Start -->
    <div class="body_wrapper">
        <!-- Order Section Start -->
        <div class="order_section">
            <div class="order_item_container">
                <!-- <div id="no-order" class="no-order active p-4 p-sm-4 p-md-4 p-lg-5"> 原先-->
                <div id="no-order" class="no-order p-4 p-sm-4 p-md-4 p-lg-5">
                    <div class="banner_img">
                        <img src="assets/images/img_noorder.png" class="img-fluid">
                    </div>
                    <h2 [innerHTML]="'home_page_text' | translate"></h2>
                    <h3 [innerHTML]="'home_page_text1' | translate"></h3>

                    <div class="btn_box">
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6 px-1 px-md-2">
                                <button type="button" class="btn  Add_order" id="add_order"><a>{{'add_order' | translate}}</a></button>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6  px-1 px-md-2">
                                <button type="button" class="btn order-status" [routerLink]="['../orders_status']"><a>{{'order_status' | translate}}</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab Items Start -->
                <!-- <-- id="item_list" class="item_list"> 原先-->
                <div id="item_list" class="item_list active">
                    <div class="order_header">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <h2>{{'item' | translate}}</h2>
                            </div>
                            <div class="col-2 text-center">
                                <h2>{{'price' | translate}}</h2>
                            </div>
                            <div class="col-3 text-center">
                                <h2>{{'qnt' | translate}}.</h2>
                            </div>
                            <div class="col-3 text-right">
                                <h2>{{'total' | translate}}($)</h2>
                            </div>
                        </div>
                    </div>

                    <!-- Food List Start -->
                    <ul>
                        <li *ngFor="let order of myCart">
                            <div class="row">
                                <div class="col-4">
                                    <h2>{{order.meal}}</h2>
                                </div>
                                <div class="col-2 text-center">
                                    <h3>{{order.price}}</h3>
                                </div>
                                <div class="col-3 text-center">
                                    <h3 class="d-flex align-items-center">
                                        <i class="zmdi zmdi-minus"></i>
                                        <strong>{{order.qty}}</strong>
                                        <i class="zmdi zmdi-plus"></i>
                                    </h3>
                                </div>
                                <div class="col-3 text-right">
                                    <h4>{{order.total}}</h4>
                                </div>
                            </div>
                        <li>
                    </ul>
                    <!-- Food List End -->

                    <div class="order_footer">
                        <div class="amount_details">
                            <h2 class="d-flex text-right">
                                <span class="text">{{'sub_total' | translate}} </span>
                                <span class="mr-0 ml-auto">{{sub_total}}</span>
                            </h2>
                            <h2 class="d-flex text-right">
                                <span class="text">{{'tax' | translate}}</span>
                                <span class="mr-0 ml-auto">{{tax}}</span>
                            </h2>
                            <h2 class="d-flex text-right">
                                <span class="text">{{'other_charge' | translate}}</span>
                                <span class="mr-0 ml-auto">0</span>
                            </h2>
                        </div>
                        <div class="amount_payble">
                            <h2 class="d-flex text-right">
                                <span class="text">{{'amount_to_Pay' | translate}}</span>
                                <span class="mr-0 ml-auto">{{amount_to_Pay}}</span>
                            </h2>
                        </div>

                        <div class="btn_box">
                            <div class="row no-gutter mx-0">
                                <button type="button" class="btn col-6 Cancel" id="cancel_order"><a>{{'cancel' | translate}}</a></button>
                                <button type="button" class="btn col-6 place_order" id="place-order"><a>{{'place_order' | translate}}</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab Items End -->


                <!-- Tab Items Start -->
                <div id="amount_to_Pay" class="amount_to_Pay">
                    <form class="px-4 py-3">
                        <h4 class="pt-3 mb-3">{{'amount_to_Pay' | translate}} <strong>$46.00</strong></h4>
                        <div class="form-group mb-4 pb-2">
                            <label>{{'select_payment_method' | translate}}</label>
                            <div class="row no-gutters align-items-center">
                                <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                                    <div class="custom-control custom-radio">
                                        <input checked type="radio" id="cash" name="PaymentMethod" class="custom-control-input">
                                        <label class="custom-control-label" for="cash"><span class="ml-2">Cash</span></label>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="card" name="PaymentMethod" class="custom-control-input">
                                        <label class="custom-control-label" for="card"><span class="ml-2">Card</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group mb-4 pb-2">
                            <label>{{'order_type' | translate}}</label>
                            <div class="row no-gutters align-items-center">
                                <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                                    <div class="custom-control custom-radio">
                                        <input checked type="radio" id="takeaway" name="OrderType" class="custom-control-input">
                                        <label class="custom-control-label" for="takeaway"><span class="ml-2">{{'takeaway' | translate}}</span></label>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="dine-in" name="OrderType" class="custom-control-input">
                                        <label class="custom-control-label" for="dine-in"><span class="ml-2">{{'dine_in' | translate}}</span></label>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <div class="select_box w-100 d-flex  md-0">
                                        <select>
                                            <option>Select Table</option>
                                            <option>Table No 01</option>
                                            <option>Table No 02</option>
                                            <option>Table No 03</option>
                                            <option>Table No 04</option>
                                            <option>Table No 05</option>
                                            <option>Table No 06</option>
                                            <option>Table No 07</option>
                                            <option>Table No 08</option>
                                            <option>Table No 09</option>
                                            <option>Table No 10</option>
                                        </select>
                                        <i class="zmdi zmdi-caret-down"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>{{'customer_info_optional' | translate}}</label>
                            <input type="text" class="form-control" placeholder="{{'enter_full_name' | translate}}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="{{'enter_phone_number' | translate}}">
                        </div>
                    </form>
                    <div class="order_footer bg-white">
                        <div class="btn_box">
                            <div class="row no-gutter mx-0">
                                <button type="button" class="btn col-6 Cancel" id="edit_order"><a>{{'cancel' | translate}}</a></button>
                                <button type="button" class="btn col-6 place_order" id="submit"><a>{{'submit' | translate}}</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab Items end -->
            </div>
        </div>
        <!-- Order Section End -->

        <!-- Food Item Section Start -->
        <div class="item_section mt-4 mt-md-0">
            <div class="item_section_header">
                <div class="tab_btn_container">
                    <div class="nav nav-tabs owl-carousel">
                        <div class="tab nav-item active animate__animated animate__zoomIn wow" data-wow-duration=".5s" role="presentation">
                            <a class="nav-link">
                                <img src="assets/images/ic_fastfood.png">
                                <h5>全部商品</h5>
                            </a>
                        </div>
                        <div class="tab nav-item animate__animated animate__zoomIn wow" data-wow-duration=".5s" role="presentation">
                            <a class="nav-link">
                                <img src="assets/images/ic_Seafood.png">
                                <h5>飯/水餃</h5>
                            </a>
                        </div>
                        <div class="tab nav-item animate__animated animate__zoomIn wow" data-wow-duration=".5s" role="presentation">
                            <a class="nav-link">
                                <img src="assets/images/ic_chinese.png">
                                <h5>滷味拼盤</h5>
                            </a>
                        </div>
                        <div class="tab nav-item animate__animated animate__zoomIn wow" data-wow-duration=".5s" role="presentation">
                            <a class="nav-link">
                                <img src="assets/images/ic_dessert.png">
                                <h5>客家傳香</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <form class="search_box animate__animated animate__zoomIn wow">
                    <div class="form-group d-flex">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="zmdi zmdi-search"></i></div>
                        </div>
                        <!-- <input type="search" class="form-control" placeholder="Search Items"> -->
                        <input type="search" class="form-control" placeholder="搜尋項目">
                        <button type="button" class="btn"><a>{{'search' | translate}}</a></button>
                    </div>
                </form>
            </div>
            <div class="tab-content">
                <div class="row no-gutters">
                    <div class="col col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="item animate__animated animate__zoomIn wow">
                            <div class="item_img center_img">
                                <img src="assets/images/food/food_01.png" class="crop_img">
                            </div>
                            <div class="text_box">
                                <h2>咕咾肉</h2>
                                <h3 class="d-flex">
                                    <img src="assets/images/ic_veg.png">&nbsp;
                                    $ 180
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="item animate__animated animate__zoomIn wow">
                            <div class="item_img center_img">
                                <img src="assets/images/food/food_02.png" class="crop_img">
                            </div>
                            <div class="text_box">
                                <h2>紫蘇鴨</h2>
                                <h3 class="d-flex">
                                    <img src="assets/images/ic_veg.png">&nbsp;
                                    $ 200
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="item animate__animated animate__zoomIn wow">
                            <div class="item_img center_img">
                                <img src="assets/images/food/food_03.png" class="crop_img">
                            </div>
                            <div class="text_box">
                                <h2>客家小炒</h2>
                                <h3 class="d-flex">
                                    <img src="assets/images/ic_veg.png">&nbsp;
                                    $ 200
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="item animate__animated animate__zoomIn wow">
                            <div class="item_img center_img">
                                <img src="assets/images/food/food_04.png" class="crop_img">
                            </div>
                            <div class="text_box">
                                <h2>招牌豆腐</h2>
                                <h3 class="d-flex">
                                    <img src="assets/images/ic_veg.png">&nbsp;
                                    $ 100
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="item animate__animated animate__zoomIn wow">
                            <div class="item_img center_img">
                                <img src="assets/images/food/food_05.png" class="crop_img">
                            </div>
                            <div class="text_box">
                                <h2>蔥爆牛肉</h2>
                                <h3 class="d-flex">
                                    <img src="assets/images/ic_veg.png">&nbsp;
                                    $ 200
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="item animate__animated animate__zoomIn wow">
                            <div class="item_img center_img">
                                <img src="assets/images/food/food_06.png" class="crop_img">
                            </div>
                            <div class="text_box">
                                <h2>薑絲大腸</h2>
                                <h3 class="d-flex">
                                    <img src="assets/images/ic_veg.png">&nbsp;
                                    $ 180
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="item animate__animated animate__zoomIn wow">
                            <div class="item_img center_img">
                                <img src="assets/images/food/food_07.png" class="crop_img">
                            </div>
                            <div class="text_box">
                                <h2>鳳梨蝦球</h2>
                                <h3 class="d-flex">
                                    <img src="assets/images/ic_veg.png">&nbsp;
                                    $ 200
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="item animate__animated animate__zoomIn wow">
                            <div class="item_img center_img">
                                <img src="assets/images/food/food_08.png" class="crop_img">
                            </div>
                            <div class="text_box">
                                <h2>客家鹹豬肉</h2>
                                <h3 class="d-flex">
                                    <img src="assets/images/ic_veg.png">&nbsp;
                                    $ 160
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="item animate__animated animate__zoomIn wow">
                            <div class="item_img center_img">
                                <img src="assets/images/food/food_09.png" class="crop_img">
                            </div>
                            <div class="text_box">
                                <h2>骨肉炒韭菜</h2>
                                <h3 class="d-flex">
                                    <img src="assets/images/ic_veg.png">&nbsp;
                                    $ 160
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="item animate__animated animate__zoomIn wow">
                            <div class="item_img center_img">
                                <img src="assets/images/food/food_10.png" class="crop_img">
                            </div>
                            <div class="text_box">
                                <h2>白飯</h2>
                                <h3 class="d-flex">
                                    <img src="assets/images/ic_veg.png">&nbsp;
                                    $ 10
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Food Item Section End -->
    </div>
</div>