<div id="page_orders_status">
 
    <!-- Body Wrapper Start -->
    <div class="body_wrapper">
        <div class="order_container">
            <div class="order animate__animated animate__zoomIn wow active1">
                <div class="order_inner">
                    <div class="order_header d-flex align-items-center">
                        <h2> {{'dine_in' | translate}}
                            <span>AB00121</span>
                        </h2>
                        <h3 class="ml-auto">08:49</h3>
                    </div>
                    <div class="item order_done">
                        <h3 class="ion-text-start" id="rating_active_4">1</h3>
                        <h4>Chat Masala</h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="ion-text-start">1</h3>
                        <h4>
                            Veg Cheese Pizza
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="ion-text-start">1</h3>
                        <h4>Fride Checken</h4>
                    </div>
                    <div class="item">
                        <h3 class="ion-text-start">1</h3>
                        <h4>Mashroom Pizza</h4>
                    </div>
                </div>
            </div>

            <div class="order animate__animated animate__zoomIn wow active2">
                <div class="order_inner">
                    <div class="order_header d-flex align-items-center">
                        <h2> {{'delivery' | translate}}
                            <span>AB00121</span>
                        </h2>
                        <h3 class="ml-auto">05:12</h3>
                    </div>
                    <div class="item">
                        <h3 class="ion-text-start">2</h3>
                        <h4>Vanila Ice Cream</h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="ion-text-start">1</h3>
                        <h4>
                            Egg Faritta
                            <span>Extra Cheese</span>
                            <span>Extra Egg</span>
                        </h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="ion-text-start">1</h3>
                        <h4>Rosted Chicken
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="ion-text-start">1</h3>
                        <h4>Farm Ville Pizz
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="order animate__animated animate__zoomIn wow">
                <div class="order_inner">
                    <div class="order_header d-flex align-items-center">
                        <h2> {{'dine_in' | translate}}
                            <span>AB00121</span>
                        </h2>
                        <h3 class="ml-auto">00:33</h3>
                    </div>
                    <div class="item order_done">
                        <h3 class="ion-text-start order_done">1</h3>
                        <h4>Chat Masala</h4>
                    </div>
                    <div class="item">
                        <h3 class="ion-text-start">1</h3>
                        <h4>
                            Veg Cheese Pizza
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="ion-text-start">1</h3>
                        <h4>Fride Checken</h4>
                    </div>

                    <div class="item">
                        <h3 class="ion-text-start">1</h3>
                        <h4>Mashroom Pizza</h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="ion-text-start">2</h3>
                        <h4>Vanila Ice Cream</h4>
                    </div>
                    <div class="item">
                        <h3 class="ion-text-start">1</h3>
                        <h4>
                            Egg Faritta
                            <span>Extra Cheese</span>
                            <span>Extra Egg</span>
                        </h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="ion-text-start">1</h3>
                        <h4>Rosted Chicken
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="ion-text-start">1</h3>
                        <h4>Farm Ville Pizz
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="order animate__animated animate__zoomIn wow">
                <div class="order_inner order_done">
                    <div class="order_header d-flex align-items-center">
                        <h2>{{'takeaway' | translate}}
                            <span>AB00121</span>
                        </h2>
                        <h3 class="ml-auto">00:33</h3>
                    </div>
                    <div class="item order_done">
                        <h3 class="ion-text-start">1</h3>
                        <h4>Cheese Lasagne</h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="ion-text-start">1</h3>
                        <h4>
                            Veg Cheese Pizza
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                    <div class="item">
                        <h3 class="ion-text-start">1</h3>
                        <h4>Ice Cream</h4>
                    </div>
                </div>
            </div>
            <div class="order animate__animated animate__zoomIn wow active1">
                <div class="order_inner">
                    <div class="order_header d-flex align-items-center">
                        <h2> {{'dine_in' | translate}}
                            <span>AB00121</span>
                        </h2>
                        <h3 class="ml-auto">08:49</h3>
                    </div>
                    <div class="item order_done">
                        <h3 class="ion-text-start">1</h3>
                        <h4>Chat Masala</h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="ion-text-start">1</h3>
                        <h4>
                            Veg Cheese Pizza
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                    <div class="item">
                        <h3 class="ion-text-start">1</h3>
                        <h4>Fride Checken</h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="ion-text-start">1</h3>
                        <h4>Mashroom Pizza</h4>
                    </div>
                </div>
            </div>
            <div class="order animate__animated animate__zoomIn wow active1">
                <div class="order_inner">
                    <div class="order_header d-flex align-items-center">
                        <h2> {{'dine_in' | translate}}
                            <span>AB00121</span>
                        </h2>
                        <h3 class="ml-auto">08:49</h3>
                    </div>
                    <div class="item order_done">
                        <h3 class="ion-text-start">2</h3>
                        <h4>Vanila Ice Cream</h4>
                    </div>
                    <div class="item">
                        <h3 class="ion-text-start">1</h3>
                        <h4>
                            Egg Faritta
                            <span>Extra Cheese</span>
                            <span>Extra Egg</span>
                        </h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="ion-text-start">1</h3>
                        <h4>Rosted Chicken
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                    <div class="item">
                        <h3 class="ion-text-start">1</h3>
                        <h4>Farm Ville Pizz
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="order animate__animated animate__zoomIn wow active1">
                <div class="order_inner">
                    <div class="order_header d-flex align-items-center">
                        <h2> {{'dine_in' | translate}}
                            <span>AB00121</span>
                        </h2>
                        <h3 class="ml-auto">08:49</h3>
                    </div>
                    <div class="item order_done">
                        <h3 class="ion-text-start order_done">1</h3>
                        <h4>Chat Masala</h4>
                    </div>
                    <div class="item">
                        <h3 class="ion-text-start">1</h3>
                        <h4>
                            Veg Cheese Pizza
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="ion-text-start">1</h3>
                        <h4>Fride Checken</h4>
                    </div>

                    <div class="item">
                        <h3 class="ion-text-start">1</h3>
                        <h4>Mashroom Pizza</h4>
                    </div>
                    <div class="item">
                        <h3 class="ion-text-start">2</h3>
                        <h4>Vanila Ice Cream</h4>
                    </div>
                    <div class="item">
                        <h3 class="ion-text-start">1</h3>
                        <h4>
                            Egg Faritta
                            <span>Extra Cheese</span>
                            <span>Extra Egg</span>
                        </h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="ion-text-start">1</h3>
                        <h4>Rosted Chicken
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                    <div class="item">
                        <h3 class="ion-text-start">1</h3>
                        <h4>Farm Ville Pizz
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="order animate__animated animate__zoomIn wow active1">
                <div class="order_inner">
                    <div class="order_header d-flex align-items-center">
                        <h2> {{'dine_in' | translate}}
                            <span>AB00121</span>
                        </h2>
                        <h3 class="ml-auto">08:49</h3>
                    </div>
                    <div class="item order_done">
                        <h3 class="ion-text-start">2</h3>
                        <h4>Vanila Ice Cream</h4>
                    </div>
                    <div class="item">
                        <h3 class="ion-text-start">1</h3>
                        <h4>
                            Egg Faritta
                            <span>Extra Cheese</span>
                            <span>Extra Egg</span>
                        </h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="ion-text-start">1</h3>
                        <h4>Rosted Chicken
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                    <div class="item">
                        <h3 class="ion-text-start">1</h3>
                        <h4>Farm Ville Pizz
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="order animate__animated animate__zoomIn wow active1">
                <div class="order_inner">
                    <div class="order_header d-flex align-items-center">
                        <h2> {{'dine_in' | translate}}
                            <span>AB00121</span>
                        </h2>
                        <h3 class="ml-auto">08:49</h3>
                    </div>
                    <div class="item order_done">
                        <h3 class="ion-text-start order_done">1</h3>
                        <h4>Chat Masala</h4>
                    </div>
                    <div class="item">
                        <h3 class="ion-text-start">1</h3>
                        <h4>
                            Veg Cheese Pizza
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="ion-text-start">1</h3>
                        <h4>Fride Checken</h4>
                    </div>

                    <div class="item">
                        <h3 class="ion-text-start">1</h3>
                        <h4>Mashroom Pizza</h4>
                    </div>
                    <div class="item">
                        <h3 class="ion-text-start">2</h3>
                        <h4>Vanila Ice Cream</h4>
                    </div>
                    <div class="item">
                        <h3 class="ion-text-start">1</h3>
                        <h4>
                            Egg Faritta
                            <span>Extra Cheese</span>
                            <span>Extra Egg</span>
                        </h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="ion-text-start">1</h3>
                        <h4>Rosted Chicken
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                    <div class="item">
                        <h3 class="ion-text-start">1</h3>
                        <h4>Farm Ville Pizz
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="order animate__animated animate__zoomIn wow active1">
                <div class="order_inner">
                    <div class="order_header d-flex align-items-center">
                        <h2> {{'dine_in' | translate}}
                            <span>AB00121</span>
                        </h2>
                        <h3 class="ml-auto">08:49</h3>
                    </div>
                    <div class="item order_done">
                        <h3 class="ion-text-start">1</h3>
                        <h4>Cheese Lasagne</h4>
                    </div>
                    <div class="item order_done">
                        <h3 class="ion-text-start">1</h3>
                        <h4>
                            Veg Cheese Pizza
                            <span>Extra Cheese</span>
                        </h4>
                    </div>
                    <div class="item ">
                        <h3 class="ion-text-start">1</h3>
                        <h4>Ice Cream</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Body Wrapper End -->
</div>